html {
	height: 100%;
	width: 100%;
}
body {
	background-image: url("../img/background.jpg");
	background-size: 100% 100%;
	background-repeat: repeat-x;
	height: 100%
	width: 960px;
}
div {
	margin: 0 auto;
	color: #ccc;
	font-size: 1.5em;
	padding: 35px;
	height: 80%;
	width: 80%;
	border-radius: 9px;
	background-color: rgba( 111,111,111, .7);
}