body {
	background-image: url("../img/background.jpg");
	background-size: cover;
	height: 100%
	width: 960px;
}
div {
	margin: 0 auto;
	padding: 35px;
	height: 80%;
	width: 80%;
	border-radius: 9px;
	background-color: rgba( 111,111,111, .5);
}